# Домашнее задание 1

## Задание 1

## Задание 2

In [1]:
def total_fruits(fruit_ditc: dict) -> int:
    result = sum(fruit_ditc.values())
    return result
        
fruits = {'фрукт1': 1, 'фрукт2': 2, 'фрукт3': 3, 'фрукт4': 4, 'фрукт5': 5}
print("Количество:", total_fruits(fruits))

Количество: 15

## Задание 3

In [2]:
sum = 0
numbers = [100, 125, -90, 345, 655, -1, 0, 200]
for i in range(len(numbers)):
    if numbers[i] > 0:
        sum = sum + numbers[i]
        i = i + 1
    else:
        i = i + 1
print("Сумма:", sum)

Сумма: 1425

## Задание 4

In [3]:
date = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', 
        '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', 
        '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', 
        '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', 
        '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', 
        '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
revenue = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 
        4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 
        2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

### Задание 4.1

In [4]:
november_amount = 0

for i in range(len(date)):
    if date[i].split('-')[1] == '11':
        november_amount = november_amount + revenue[i]
        i = i + 1
    else:
        i = i + 1
print("Выручка в ноябре", november_amount)

Выручка в ноябре 25098

### Задание 4.2

In [5]:
def month_switch(month: str) -> str:
    result = month
    match result:
        case '01':
            return "Январь"
        case '02':
            return "Февраль"
        case '03':
            return "Март"
        case '04':
            return "Апрель"
        case '05':
            return "Май"
        case '06':
            return "Июнь"
        case '07':
            return "Июль"
        case '08':
            return "Август"
        case '09':
            return "Сентябрь"
        case '10':
            return "Октябрь"
        case '11':
            return "Ноябрь"
        case '12':
            return "Декабрь"
        case _:
            return "Не известно"

def month_revenue(dates: list, costs: list) -> dict:
    result = {} 
    for date, amount in zip(dates, costs): 
        result[month_switch(date.split('-')[1])] = result.get(month_switch(date.split('-')[1]), 0) + amount 
    return result

print(month_revenue(date, revenue))

{'Сентябрь': 25647, 'Декабрь': 45452, 'Октябрь': 28645, 'Ноябрь': 25098}