# Домашнее задание №2

## Задание 1

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('kc_house_data.csv')

#### Вывод на экран 5-и строк

In [2]:
df.head(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

## Задание 2

#### Первичный анализ данных

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

#### Типы данных

In [4]:
df.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

#### Ячейки с пропущенными данными

In [5]:
df.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

####  Статистика

In [6]:
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

## Задание 3

#### Диапозон стоимости недвижимости

In [7]:
print("min:", df['price'].min(),"; max:", df['price'].max())

min: 75000.0 ; max 7700000.0

#### Средняя жилая площадь

In [8]:
print("Средняя жилая площадь:", round((df['sqft_living'].mean() * 100 / df['sqft_lot'].mean()), 2))

Средняя жилая площадь 13.77

#### Дома с разными этажами в данных

In [9]:
df['floors'].value_counts()

floors
1.0    10680
2.0     8241
1.5     1910
3.0      613
2.5      161
3.5        8
Name: count, dtype: int64

#### Состояние домов

In [10]:
df['condition'].value_counts()

condition
3    14031
4     5679
5     1701
2      172
1       30
Name: count, dtype: int64

#### Самый новый дом

In [11]:
print("Самый новый дом:", df['yr_built'].max())

Самый новый дом: 2015

#### Самый старый дом

In [12]:
print("Самый старый дом:", df['yr_built'].min())

Самый старый дом: 1900

## Задание 4

#### Средняя стоимость домов с 2-я спальняии

In [13]:
price_choice = round(df[df['bedrooms'] == 2]['price'].mean(), 2)
print("Средняя стоимость домов c 2-я спальнями:", price_choice)

Средняя стоимость домов c 2-я спальнями: 401372.68

#### Средняя общая площадь домов, у которых стоимость больше 600 00

In [14]:
squ_choice = round(df[df['price'] > 600000]['sqft_lot'].mean(), 2)
print("Средняя стоимость домов дороже 600 000:", squ_choice)

Средняя стоимость домов дороже 600 000: 20442.52

#### Дома с ремонтом

In [15]:
renov_choice = df[df['yr_renovated'].astype('bool')].shape[0]
print("Количество: ", renov_choice)

Количество:  914

####  Разница в средней стоимости домов с оценкой grade домов выше 10 от стоимости домов с оценкой grade меньше 4

In [16]:
g10 = round(df[df['grade'] > 10]['price'].mean(),2)
g4 = round(df[df['grade'] < 4]['price'].mean(),2)
print("Средняя стоимость домов с оценкой выше 10-и:", g10)
print("Средняя стоимость домов с оценкой выше 4-и:", g4)
print("Средняя разница:", round(g10 - g4, 2))

Средняя стоимость домов с оценкой выше 10-и: 1678635.12
Средняя стоимость домов с оценкой выше 4-и: 189750.0
Средняя разница: 1488885.12

## Задание 5

#### Количество домов с видом на набережную, как минимум с тремя ванными и с подвалом

In [17]:
count_choice = df[(df['waterfront'] != 0) & 
                  (df['bathrooms'] >= 3) & 
                  (df['sqft_basement'] != 0)].shape[0]
print("Количество:", count_choice)

Количество: 41

#### Ценовой диапозон домов либо с очень красивым видом из окна, либо с видом на набережную, в очень хорошем состоянии и год постройки не меньше 1980 года

In [18]:
df_choiсe = df[((df['view'] == 4) | (df['waterfront'] != 0)) &
               (df['yr_built'] >= 1980) & 
               (df['condition'] == 5)]['price']
print("Ценовой диапозон:", df_choiсe.min(),"-", df_choiсe.max())

Ценовой диапозон: 1295000.0 - 3000000.0

#### Средняя оценка состояния домов без подвала, с двумя этажами, стоимостью до 150000

In [19]:
choiсe_value = df[(df['sqft_basement'] == 0) & 
                  (df['floors'] == 2) & 
                  (df['price'] < 150000)]['condition'].mean()
print("Средняя оценка состояния домов:", round(choiсe_value, 2))

Средняя оценка состояния домов: 2.83